{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-plusplus": [ "error", { "allowForLoopAfterthoughts": true } ],
    "no-mixed-operators": [
      "error",
      { 
        "groups": [ 
          [ "&", "|", "^", "~", "<<", ">>", ">>>" ], 
          [ "==", "!=", "===", "!==", ">", ">=", "<", "<=" ], 
          [ "&&", "||" ], 
          [ "in", "instanceof" ] 
        ], 
        "allowSamePrecedence": true
      }
    ],
    "no-confusing-arrow": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "no-return-assign": 0
  }
}