# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# editor configuration
.vscode

# chrome debug session data
.chrome

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.swp
*swp
*~
*.un~ 

BACKEND/*.org
BACKEND/*.log
*\#*\#
BACKEND/.tern-config
BACKEND/node_modules
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

